.titleClass {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.titleName{
  font-family: Verdana;
  font-style: italic;
  color: rgb(44, 190, 44);
  border: 1px solid blue;
  align-items: center;
}
