.titleClass {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.titleName{
  font-family: Verdana;
  font-style: italic;
  color: magenta;
  border: 1px solid grey;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius: 6px;
  margin: 0.5rem;
}
