.container{
    height: 80%;
    width: 90%;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    padding:0.25rem;
}

.deleteIcon{
    border: 1px solid black;
    align-items:right;
}

