.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardColor {
  background-color: rgb(241, 245, 245);
  border: 1px solid grey;
  box-shadow: 1px 1px 0px 1px #faf9f9;
  margin: 0.75rem;
  height: 80%;
  width: 100%;
  border-radius: 10px 10px;
  font-size: 0.8rem;
}

.text {
  text-align: justify;
  text-justify: inter-word;
}


.rowCont{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardHeaderFlex{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding:0rem !important;
}

.cardTitle{
    margin:0.5rem;
    flex: 1 0;
    
}
.deleteIcon{
    height: 100%;
    flex:  0 1;
    background: pink;
    margin: 0.5rem;
    border:1px solid black;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}